<h1>About Meadowlark Travel</h1>
<p>Your fortune for the day:</p>
<blockquote>{{fortune}}</blockquote>
<li><a href="/contact">Kontakt</a></li>
<li><a href="https://github.com/EthanRBrown/web-development-with-node-and-express">link to code of book</a></li>

